/*       code couleur     */
/* bleu RGB 38, 135, 215  */

/* Mise en page Générale ------------------------------------------*/
/* --------------------------------------------------------------*/

[class*="col-"] {
    /*float: left;*/
    /*border: 1px solid red;*/
}

.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 24%;}
.col-4 {width: 33%;}
.col-5 {width: 41%;}
.col-6 {width: 49%;}
.col-7 {width: 57%;}
.col-8 {width: 65%;}
.col-9 {width: 73%;}
.col-10 {width: 81%;}
.col-11 {width: 90%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
  margin: 0;
}

header > div, header > nav, #produits > section > img,
#produits > section > p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
    list-style: none;
}

* {
  /*color: rgb(38, 135, 215);*/
  font-family: Arial;
  font-size: 15px;
  text-align: justify;
  /*border : 1px solid black;*/
}

header, footer {
  margin: 0px;
  background-color: rgb(38, 135, 215);
}

/* Mise en page Header ------------------------------------------*/
/* --------------------------------------------------------------*/

header {
  color: white;
  position: fixed;
  top: 0;
}

header > div {
  margin-top: 0px;
  padding: 0;
}

header img {
  display: none;
  margin-top: 0px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

header {
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 1em;
  /*vertical-align: bottom;*/
}

header nav li {
  padding: 3px 3px;
  width: 5.5em;
}

header li > a {
  padding: 0px;
}

header nav div {
  padding-top: 2em;
}

header nav div ul {
  display: none;
  width: 6em;
  margin: 26px 0px;
  padding: 0px;
  position : absolute;
}

header nav div:focus ul{
  display: block;
  height: auto;
  border-top: 2px solid white;
  background-color: rgb(38, 135, 215);
  margin-left: -5px;
  color: white;
}

header nav li:hover {
  color: rgb(38, 135, 215);
  background-color: white ;
}

/* Mise en page Main - GENERAL ------------------------------------------*/
/* --------------------------------------------------------------*/

main {
  text-align: justify;
  margin: 6em 4%;
}

p, main a  {
  font-size: 12px;
}

h2 {
  color: rgb(38, 135, 215);
  font-weight: bold;
  font-size: 1.4em;
}

/* Mise en page main -presentation produits ------------------------------------------*/
/* --------------------------------------------------------------*/

#produits > section > div {
  display: none;
}

#produits nav {
  margin: 0 4%;
  padding: 3% 2%;
  background-color: rgb(38, 135, 215);
  color : white;
}

#produits nav a {
  /*width: 20%;*/
  font-weight: bold;
  margin: 3% 0px;
  padding: 2%;
}

#produits nav a:hover {
  background-color: white ;
  padding: 1%;
  color : rgb(38, 135, 215);
}

#produits > section {
  vertical-align: middle;
}

#produits > section > p {
  position: relative;
  border: 1px solid black;
  height: auto;
}

#produits > section > p > a {
  /*text-align: right;*/
  font-style: italic;
  font-weight: bold;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  padding-top: 5px;
  border: 1px solid black;
}

#produits > section > img {
  border: 1px solid black;
}

/* Mise en page footer ------------------------------------------*/
/* --------------------------------------------------------------*/

footer {
  height: 46px;
  font-style: italic;
  /*padding: 0px 10p;*/
 }

footer a {
  /*margin: 2px;*/
  margin: 8px 7em;
  background-color: white;
  color: rgb(38, 135, 215);
  padding: 5px;
  border-radius: 3em;
  text-align: center;

  /*position: relative;*/
  /*bottom: 0px;*/
}
